{% extends 'app/generic.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Bench - {{bench.name}}</title>
{% endblock title %}
{% block content %}
<div class="card push text-center">
    <img src="{{bench.image.url}}" height="150px" class="card-img-top" alt="...">
    <div class="card-body">
    <h2 class="card-title"><strong>{{bench.name}}</strong></h2>
    <hr>
    <p class="card-text">{{bench.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Category:</b> {{bench.category}}</li>
        <li class="list-group-item"><b>Capacity:</b> {{bench.capacity}}</li>
        <li class="list-group-item"><b>Condition:</b> {{bench.condition}}</li>
        <!--<li class="list-group-item"><b>Location:</b> {{bench.location}}</li>-->
    </ul>
    <div class="card-footer text-muted">
        {{bench.date_created|naturaltime}}
        {% if request.user.is_authenticated %}
        <hr>
        <a href="{% url 'update' bench.id %}" class="btn btn-outline-primary btn-block" role="button">Edit</a>
        {% endif %}
    </div>
</div>

<div class="card push">
<h2 class="text-align push">Comments</h2>
{% for comment in comments %}
<div class="comments card-body" style="padding: 10px;">
    <p class="font-weight-bold">
        <img src="{{comment.name.profile.image.url}}" height="20px" width="20px" alt=""><a href="{% url 'user' comment.name %}">{{ comment.name }}</a>
    <span class=" text-muted font-weight-normal">
        {{ comment.created_on|naturaltime }}
    </span>
    </p>
    <div class="card"><div class="card-body">{{ comment.body | linebreaks }}</div></div>
</div>
{% endfor %}
{% if request.user.is_authenticated %}
<hr>
<div class="card-body">
    <h3>Leave a comment</h3>
    <form method="post" style="margin-top: 1.3em;">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary btn-block">Post Comment</button>
    </form>
</div>
{% endif %}
</div>
<br>
<br>

{% endblock content %}