<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'app/links.html' %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Lunchbenching - Login</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <form class="form-signin" method="POST" action="">
              {% csrf_token %}
              <div class="form-label-group">
                <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
                <label for="inputUserame">Username</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
              <a class="d-block text-center mt-2 small" href="{% url 'register' %}">Sign Up</a>
            </form>
            {% for message in messages %}
              <hr>
              <p class="messages">{{message}}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

