{% extends 'app/generic.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Lunchbenching - Update Bench</title>
{% endblock title %}
{% block content %}
<h1 class="bench-title text-align">Update Bench</h1>
<hr>
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            {{form.name|as_crispy_field}}
            {{form.image|as_crispy_field}}
            {{form.tag|as_crispy_field}}
        </div>
        <div class="col">
            {{form.description|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{form.category|as_crispy_field}}
        </div>
        <div class="col">
            {{form.condition|as_crispy_field}}
        </div>
        <div class="col">
            {{form.capacity|as_crispy_field}}
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block bench-btn">Update Bench</button>
</form>
<br>
<br>
{% endblock content %}