<!-- Bootstrap Nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}"><img id="logo" src="{% static 'images/icon.png' %}" height="35px"> Lunchbenching</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<!-- Primer Nav -->
<div class="Header">
  <div class="Header-item">
    <a href="{% url 'home' %}" class="Header-link f4 d-flex flex-items-center">
      <img id="logo" src="{% static 'images/icon.png' %}" height="35px">
      <span>Lunchbenching</span>
    </a>
  </div>
  <div class="Header-item">
    <input class="form-control input-dark" type="search" placeholder="Search..." aria-label="Search" />
  </div>
  <div class="Header-item Header-item--full"></div>
  <div class="Header-item">
    <a href="#" class="Header-link f4 d-flex flex-items-center">Benches</a>
  </div>
  <div class="Header-item">
    <a href="#" class="Header-link f4 d-flex flex-items-center">Map</a>
  </div>
  <!-- <div class="Header-item mr-0">
    <img class="avatar" height="20" alt="@icon" src="{% static 'images/icon.png' %}" width="20">
  </div> -->
</div>

<!-- Bench Card -->
<div class="card">
    <img src="{{bench.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
    <h2 class="card-title"><strong>{{bench.name}}</strong></h2>
    <hr>
    <p class="card-text">{{bench.description}}</p>
    </div>
    <div class="card-body">
    {% for tag in bench.tag.all %}
        <span class="badge badge-primary">{{tag}}</span>
    {% endfor %}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{bench.category}}</li>
        <li class="list-group-item">{{bench.capacity}}</li>
        <li class="list-group-item">{{bench.condition}}</li>
    </ul>
    <div class="card-footer text-muted">
        {{bench.date_created}}
        <hr>
        <button type="button" class="btn btn-outline-dark btn-block">Edit</button>
    </div>
</div>